Repository alphagov/govuk-frontend, pull requests merged in 2021-03, with the labels that each got.

#2132 Improve vertical alignment of phase banner tag on mobile devices
  src/govuk/components/phase-banner/_index.scss
Labels: phase banner

#2164 Enable cookie banner to set link styled as a button
  CHANGELOG.md
  src/govuk/components/cookie-banner/cookie-banner.yaml
  src/govuk/components/cookie-banner/template.njk
  src/govuk/components/cookie-banner/template.test.js
Labels: cookie banner

#2168 Update cookie macros about links styled as buttons
  CHANGELOG.md
  src/govuk/components/cookie-banner/cookie-banner.yaml
Labels: documentation, 🕔 hours
