Repository alphagov/govuk-frontend, pull requests merged in 2023-01, with the labels that each got.

#3150 Add missing `Event` polyfill to accordion component JavaScript
  CHANGELOG.md
  src/govuk/components/accordion/accordion.mjs
Labels: javascript, tech debt, Frontend squad

#3095 Hide Accordion content (again) during `.js-enabled` page load
  CHANGELOG.md
  src/govuk/components/accordion/_index.scss
Labels: sass / css, accordion, Frontend squad

#3013 Swap JavaScript minifier from UglifyJS to terser
  CHANGELOG.md
  docs/examples/webpack/webpack.config.js
  package-lock.json
  package.json
  tasks/compile-javascripts.mjs
Labels: javascript, tooling, Frontend squad

#3154 Remove Chromium from GitHub Actions cache
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/install-node/action.yml
  .github/workflows/screenshots.yml
  .github/workflows/tests.yml
  config/jest/browser/open.mjs
  tasks/screenshot-components.mjs
Labels: tech debt, Frontend squad

#3184 Fix PostCSS condition for Review app “pseudo-classes” plugin
  postcss.config.js
  postcss.config.unit.test.js
  tasks/gulp/compile-assets.mjs
Labels: 🐛 bug, sass / css, Frontend squad

#3199 Fix Sass rounding issues with width of grid columns
  CHANGELOG.md
  src/govuk/helpers/grid.test.js
  src/govuk/settings/_measurements.scss
Labels: 🐛 bug, layout, sass / css

#3225 Fix dangling angle bracket in compiled cookie banner
  src/govuk/components/cookie-banner/template.njk
Labels: cookie banner, shared ownership
