Repository alphagov/govuk-frontend, pull requests merged in 2023-07, with the labels that each got.

#3879 Change span to <p> in error message options
  packages/govuk-frontend/src/govuk/components/error-message/error-message.yaml
Labels: documentation

#3728 Update Browserslist config with future support
  .browserslistrc
  babel.config.js
  docs/examples/webpack/.browserslistrc
  docs/examples/webpack/babel.config.js
  docs/examples/webpack/babel.config.mjs
  docs/examples/webpack/postcss.config.mjs
  packages/govuk-frontend-review/.browserslistrc
  packages/govuk-frontend-review/postcss.config.mjs
  packages/govuk-frontend/.browserslistrc
  packages/govuk-frontend/postcss.config.mjs
Labels: sass / css, interoperability

#3726 Default to ES modules with single Rollup config
  .github/workflows/tests.yml
  docs/contributing/tasks.md
  packages/govuk-frontend-review/browsersync.config.js
  packages/govuk-frontend-review/nodemon.json
  packages/govuk-frontend-review/rollup.config.mjs
  packages/govuk-frontend-review/src/common/middleware/assets.mjs
  packages/govuk-frontend-review/src/javascripts/all.mjs
  packages/govuk-frontend-review/src/views/examples/scoped-initialisation/index.njk
  packages/govuk-frontend-review/src/views/examples/template-custom/index.njk
  packages/govuk-frontend-review/src/views/examples/template-default/index.njk
  packages/govuk-frontend-review/src/views/examples/translated/index.njk
  packages/govuk-frontend-review/src/views/layouts/_generic.njk
  packages/govuk-frontend-review/src/views/tests/boilerplate.njk
  packages/govuk-frontend-review/tasks/scripts.mjs
  packages/govuk-frontend-review/tasks/watch.mjs
  packages/govuk-frontend/README.md
  packages/govuk-frontend/package.json
  packages/govuk-frontend/rollup.esm.config.mjs
  packages/govuk-frontend/rollup.publish.config.mjs
  packages/govuk-frontend/rollup.release.config.mjs
  packages/govuk-frontend/rollup.umd.config.mjs
  packages/govuk-frontend/src/govuk-prototype-kit/govuk-prototype-kit.config.mjs
  packages/govuk-frontend/src/govuk-prototype-kit/govuk-prototype-kit.config.unit.test.mjs
  packages/govuk-frontend/src/govuk/common.mjs
  packages/govuk-frontend/tasks/build/package.test.mjs
  packages/govuk-frontend/tasks/build/release.mjs
  packages/govuk-frontend/tasks/build/release.test.mjs
  packages/govuk-frontend/tasks/scripts.mjs
  shared/lib/names.unit.test.mjs
  shared/tasks/scripts.mjs
Labels: javascript, tooling

#3909 Pin GitHub `actions/setup-node` to v3.6.0
  .github/workflows/actions/setup-node/action.yml
  .github/workflows/diff-change-to-dist.yaml
  .github/workflows/sass.yaml
  .github/workflows/tests.yml
Labels: 🐛 bug, github-actions

#3819 Add linked image focus style
  CHANGELOG.md
  packages/govuk-frontend-review/src/views/examples/links/index.njk
  packages/govuk-frontend/src/govuk/core/_links.scss
  packages/govuk-frontend/src/govuk/helpers/_focused.scss
  packages/govuk-frontend/src/govuk/helpers/_links.scss
Labels: accessibility, accessibility-concern

#3962 Add Percy screenshots for specific component examples
  shared/tasks/browser.mjs
Labels: assurance

#3954 Use exact GitHub Actions versions
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/install-node/action.yml
  .github/workflows/actions/setup-node/action.yml
  .github/workflows/diff-change-to-dist.yaml
  .github/workflows/sass.yaml
  .github/workflows/screenshots.yml
  .github/workflows/tests.yml
Labels: github-actions

#3955 Run GitHub Actions tests on Windows
  .github/workflows/tests.yml
Labels: github-actions

#3964 Fix review app `SocketError: other side closed` issue
  package-lock.json
  packages/govuk-frontend-review/package.json
  packages/govuk-frontend-review/src/app.test.mjs
  packages/govuk-frontend-review/src/routes/banner.test.mjs
  packages/govuk-frontend-review/src/routes/full-page-examples.test.mjs
  shared/helpers/tests.js
Labels: 🐛 bug

#3818 Add GitHub Actions Accessibility alt text bot
  .github/workflows/accessibility-bot.yml
Labels: accessibility, github_actions

#3971 Switch to `@prettier/sync` for sync Nunjucks formatting
  package-lock.json
  packages/govuk-frontend-review/package.json
  packages/govuk-frontend-review/src/common/nunjucks/globals/get-nunjucks-code.mjs
Labels: nunjucks, dependencies

#4000 Rename GitHub branch early releases to “previews”
  CONTRIBUTING.md
  bin/publish-preview.sh
  docs/releasing/publishing-a-pre-release.md
  docs/releasing/publishing-a-preview.md
  package.json
  packages/govuk-frontend/package.json
Labels: documentation

#4012 Add comments for GitHub Actions `enableCrossOsArchive`
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/install-node/action.yml
  .github/workflows/screenshots.yml
  .github/workflows/tests.yml
Labels: documentation

#4021 Add README for stats package
  shared/stats/README.md
Labels: documentation
