Repository alphagov/govuk-frontend, pull requests merged in 2025-02, with the labels that each got.

#5607 Fix compiler error "does not satisfy the constraint 'ObjectNested'"
  packages/govuk-frontend/src/govuk/common/configuration.mjs
  packages/govuk-frontend/src/govuk/common/configuration/extract-config-by-namespace.jsdom.test.mjs
  packages/govuk-frontend/src/govuk/common/configuration/normalise-dataset.jsdom.test.mjs
  packages/govuk-frontend/src/govuk/common/index.mjs
  packages/govuk-frontend/src/govuk/components/accordion/accordion.mjs
  packages/govuk-frontend/src/govuk/components/button/button.mjs
  packages/govuk-frontend/src/govuk/components/character-count/character-count.mjs
  packages/govuk-frontend/src/govuk/components/error-summary/error-summary.mjs
  packages/govuk-frontend/src/govuk/components/exit-this-page/exit-this-page.mjs
  packages/govuk-frontend/src/govuk/components/notification-banner/notification-banner.mjs
  packages/govuk-frontend/src/govuk/components/password-input/password-input.mjs
Labels: 🐛 bug, javascript

#5717 Fix prototype kit sass import path
  CHANGELOG.md
  packages/govuk-frontend/src/govuk-prototype-kit/init.scss
Labels: prototype kit

#5728 Prevent menu button being overlaid
  packages/govuk-frontend/src/govuk/components/header/_index.scss
Labels: header

#5748 Set all dependabot intervals to monthly
  .github/dependabot.yml
Labels: dependencies
